@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  background: #000000;
  font-family: "Poppins", sans-serif;
  overflow: auto;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
